
<link rel="stylesheet" href="/styles.css">
<%-include('./partials/nav.ejs')%>

    <h1>dashboard</h1>
    <p>Welcome to your dashboard</p>
    <p>You can view your profile, update your profile, and change your password</p>
    <p>You can also view your current orders and view your past orders</p>
    <p>You can also view your current cart and view your past cart</p>
    <p>You can also view your current wishlist and view your past wishlist</p>
    <p>You can also view your current reviews and view your past reviews</p>
    <p>You can also view your current messages and view your past messages</p>
    <p>You can also view your current notifications and view your past notifications</p>
    <p>You can also view your current friends and view your past friends</p>
    <p>You can also view your current friends requests and view your past friends requests</p>

    <div class="dasboard">
        <div class="profile">
            <h2>Profile</h2>
            <p>View your profile</p>
            <a href="/#profile">View Profile</a>
        </div>
        <div class="update">
            <h2>Update</h2>
            <p>Update your profile</p>
            <a href="/#update">Update Profile</a>
        </div>
        <div class="password">
            <h2>Password</h2>
            <p>Change your password</p>
            <a href="/#password">Change Password</a>
        </div>
       
    </div>



